.App {
    text-align: center;
    padding: 1rem;
  }
  
  .eightball {
    background: radial-gradient(circle at center, #333333, #0b0b0b 70%);
    width: 700px;
    height: 700px;
    margin: 4rem auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .eightball_res {
    background-color: blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 300px;
    border: 10px rgba(0, 0, 0, 0.498) solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 200px;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid rgb(0, 0, 0);
    position: relative;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: drop-shadow(0 4px 8px rgb(117, 167, 255));
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.5)
    );
  }
  
  .response-text {
    position: absolute;
    top: 25px;
    right: 0.5rem;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }